@font-face {
    font-family: "euljiro";
    src: url('./euljiro.ttf');
}

@font-face {
    font-family: "hanna";
    src: url('./hanna.ttf');
}

@font-face {
    font-family: "hanna_air";
    src: url('./hanna_air.ttf');
}